# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of go build
*.out

# Go workspace files
go.work
go.work.sum

# Go vendor
/vendor/

# IDE & Editor specific
.idea/
.vscode/
*.swp
*.swo
*.iml

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Fiber specific (compiled templates or cache if used)
fiber.pid
.tmp/

# Environment files
.env
.env.*
